/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@font-face {
    font-family: 'timeburnernormal';
    src: url('../img/fonts/timeburnernormal.eot');
    src: url('../img/fonts/timeburnernormal.eot') format('embedded-opentype'),
    url('../img/fonts/timeburnernormal.woff2') format('woff2'),
    url('../img/fonts/timeburnernormal.woff') format('woff'),
    url('../img/fonts/timeburnernormal.ttf') format('truetype'),
    url('../img/fonts/timeburnernormal.svg#timeburnernormal') format('svg');
}

/*
 * Main Elements
 */
.draggable-area {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    background: #45484d;
    background: -moz-linear-gradient(top, #45484d 0%, #000000 100%);
    background: -webkit-linear-gradient(top, #45484d 0%,#000000 100%);
    background: linear-gradient(to bottom, #45484d 0%,#000000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 );
}

.bottom-panel {
    width: 100%;
    height: 36px;
    background: #8b8b8b;
    position: absolute;
    bottom: 0;
    z-index: 1000;
}

.clear {
    clear: both;
}

body {
    overflow: hidden;
}

.link {
    cursor: pointer;
}

.iframe-overlap {
    width: 100%;
    height: 60%; /* Hack to allow the play button and still register clicks on the other areas of the iframe */
    background: transparent;
    position: absolute;
    z-index: 1;
    margin: 20% 0;
}

/*
 * Panel
 */

.time {
    float: right;
    font-size: 30px;
    line-height: 36px;
    margin: 0 10px 0 0;
}

/*noinspection CssOptimizeSimilarProperties*/
.icon {
    float: left;
    width: 36px;
    height: 36px;
    position: relative;
    background-size: 80% 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    margin: 0 0 0 2px;
}

.icon:hover {
    background-color: #787878;
}

.icon-start {
    background-image: url("../img/github_icon.png");
}

.icon-game {
    background-image: url("../img/logo_icon.png");
}

.icon-music {
    background-image: url("../img/music_icon.png");
}

/*
 * Window
 */

.window {
    min-width: 300px;
    min-height: 168px;
    border-left: 1px solid #757677;
    border-right: 1px solid #757677;
    border-bottom: 1px solid #757677;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    user-select: none;
    cursor: default;
    overflow: hidden;
}

.window-title {
    width: 100%;
    height: 3.5%;
    min-height: 23px;
    background-color: #757677;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
    font-family: "helvtica", sans-serif;
    color: #ffffff;
}

.window-title-button-close {
    width: auto;
    height: 80%;
    float: right;

}

.window-content {
    width: 100%;
    height: 96.5%;
}

/*
 * Music Window
 */

#window-music {
    width: 400px;
    height: 323px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
}

/*
 * Game Window
 */

#window-game {
    width: 80%;
    height: 80%;
    min-width: 960px;
    min-height: 530px;
    margin: 50px auto;
    z-index: 100;
}

.game-background {
    height: 100%;
    width: 8000px;
    background: #548796;
    z-index: -1;
    position: absolute;
}

.game-title {
    width: 100%;
    font-size: 100px;
    text-align: center;
    font-family: "timeburnernormal", "helvtica", sans-serif;
    color: #ffffff;
    text-shadow: 5px 5px 5px #000000;
    overflow: hidden;
    margin: 0 0 10% 0;
}

.game-buttons {
    width: 100%;
    height: 100%;
    margin: 0 35% 0 35%;
}

.game-button {
    height: auto;
    background-color: #e1e1e1;
    font-size: 30px;
    line-height: 45px;
    font-family: "Raleway", sans-serif;
    text-align: center;
    margin: 1% 0 0 1%;
    border-radius: 2px;
    cursor: pointer;
}

.game-button:hover {
    background-color: #8188ac;
}

.game-buttons a, .game-buttons {
    text-decoration: none;
    color: #000000;
    text-shadow: 1px 1px 1px #6e6e6e;
}

.game-button-large {
    width: 30%;
    //min-width: 284px;
}

.game-button-small {
    float: left;
    width: 14.5%;
    //min-width: 140px;
}

/*
 * Responsive
 */
@media handheld, only screen and (max-width: 960px) {
    #window-game {
        width: 100%;
        height: 100%;
        min-width: 0;
        min-height: 0;
        margin: 0;
    }

    .window {
        min-width: 0;
        min-height: 0;
        border: none;
    }

    .window-content {
        height: 100%;
    }

    #window-music, .window-title, .bottom-panel {
        display: none;
    }

    .game-buttons {
        margin: 0 10% 0 10%;
    }

    .game-button-large {
        width: 80%;
    }

    .game-button-small {
        width: 39.5%;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
